@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap');

:root{
  --light-gray: #424242;
  --primary-color: #00838F;
  --border: #2b303218;
  --text-color: #ff686b;
  --roboto: "Roboto", sans-serif;
  --gugi: "Gugi", sans-serif;
  --sofia: "Sofia", cursive;
}

/*--------- Cart summary ---------------*/
