@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap');

:root{
  --light-gray: #424242;
  --primary-color: #00838F;
  --border: #2b303218;
  --text-color: #ff686b;
  --roboto: "Roboto", sans-serif;
  --gugi: "Gugi", sans-serif;
  --sofia: "Sofia", cursive;
}
 
.primary-color{
  color: var(--primary-color)
}

.bg-primary-color{
  background-color: var(--primary-color) !important;
}

.text-color{
  color: var(--text-color);
}

.font-roboto{
  font-family: var(--roboto);
}

.lightblue{
  color: lightblue;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--roboto);
}

.navbar-brand {
  font-family: var(--gugi)!important;
}

.bg-camera{
  background-image: url('vcam_4.jpg');
}

.container .dropdown-toggle, .container .dropdown-item{
  font-size: 0.7em;
}


.slide{
height: 0.5rem;
}

.card{
margin: 1.5em;
}

footer{
  background-color: var(--light-gray);
  font-family: var(--roboto)!important;
  padding: 1em;
  }
  
  footer .fab{
    color: #E0E0E0;
  }
footer .fab:hover{
  color: #78909C !important;
}

